/* Header.css */

header {
  background-color: #4caf50;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  color: white;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}
